Example/MailyExample.xcworkspace/xcuserdata
Maily.xcodeproj/xcuserdata
Example/MailyExample.xcodeproj/project.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata
